---
layout: default
---

  <article>
    <div class="cv">
      <embed
        src="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
        type="application/pdf"
        width="130%"
        height="1000px"
        style = "min-height: 600px;"
      />
    </div>
  </article>
</div>